@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .sidebar_aside {
        max-width: 384px;
    }
    .ver-scrollbar {
        @apply transition-all;
    }
    .ver-scrollbar::-webkit-scrollbar {
        @apply hidden md:block w-2;
    }
    /* .ver-scrollbar:hover::-webkit-scrollbar {
        @apply hidden lg:block lg:h-3;
    } */

    /* Track */
    .ver-scrollbar::-webkit-scrollbar-track {
        @apply bg-slate-200;
    }

    /* Handle */
    .ver-scrollbar::-webkit-scrollbar-thumb {
        @apply bg-slate-400 rounded-lg transition-colors shadow-md;
    }

    /* Handle on hover */
    .ver-scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-slate-500;
    }
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }
    @media screen and (width>1023px) {
        .mainGrid {
            grid-template-columns: auto 1fr;
            gap: 24px;
        }
    }
}
