@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }
    @media screen and (width>1023px) {
        .mainGrid {
            grid-template-columns: auto 1fr;
            gap: 24px;
        }
    }
}
