@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .second_last_child > div:nth-last-child(2) {
        @apply mt-4;
    }
    ._btn {
        @apply btn rounded-md bg-primary text-primary-content;
    }
    ._btn-sm {
        @apply btn-sm rounded-md bg-primary text-primary-content;
    }
    .settings_grid {
        padding: 0.5rem;
        display: grid;
        grid-template-rows: repeat(auto-fit, 1fr);
        gap: 8px;
    }
    .settings_grid > .form_container {
        @apply flex flex-col justify-start lg:flex-row lg:gap-10 xl:gap-40 gap-4 p-3;
    }
    .settings_grid > .form_container > div {
        @apply flex-1 lg:flex-grow-0 lg:min-w-fit text-base-content;
    }
    .settings_grid > .form_container > div > div {
        @apply text-sm text-base-content/80 font-normal;
    }
    .settings_grid > .form_container > form {
        @apply flex-1 ml-2 lg:ml-0;
    }
    .sidebar_aside {
        max-width: 384px;
    }
    .ver_scrollbar {
        @apply transition-all;
    }
    .ver_scrollbar::-webkit-scrollbar {
        @apply hidden md:block w-2.5 h-2.5;
    }
    /* .ver_scrollbar:hover::-webkit-scrollbar {
        @apply hidden lg:block lg:h-3;
    } */

    /* Track */
    .ver_scrollbar::-webkit-scrollbar-track {
        @apply bg-neutral;
    }

    /* Handle */
    .ver_scrollbar::-webkit-scrollbar-thumb {
        @apply bg-primary rounded-lg transition-colors shadow-md;
    }

    /* Handle on hover */
    .ver_scrollbar::-webkit-scrollbar-thumb:hover {
        @apply bg-primary/80;
    }
    .mainGrid {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 12px;
    }
    @media screen and (width>1023px) {
        .mainGrid {
            grid-template-columns: auto 1fr;
            gap: 24px;
        }
    }
}
